/* Variables */

:root {
  --base-color: #DBDBDB;
  --base-font-size: 13px;
  --base-line-height: 1.5;
  --selection-text: #000000;
  --background-color: #000000;
  --base-font-family: "Monospace";
  --link-color: var(--base-color);
  --text-color: var(--base-color);
  --placeholder-color: var(--base-color);
  --border-color: rgba(219, 219, 219, 0.9);
  --selection-background: rgba(219, 219, 219, 0.99);
}

/* Global */

* {
  box-sizing: border-box;
}

html {
  font-size: var(--base-font-size);
  font-family: var(--base-font-family);
}

body {
  width: 50%;
  margin: 0 auto;
  color: var(--text-color);
  background-color: var(--background-color);
  line-height: var(--base-line-height) !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  margin-top: 1rem;
  font-weight: bold;
  color: var(--text-color);
  font-size: var(--base-font-size);
}

p, ul, ol {
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

p:last-child {
  margin-bottom: 0;
}

li:last-child {
  margin-bottom: 0;
}

ul ul {
  margin-left: 15px;
}

ul ul ul {
  margin-left: 15px;
}

a {
  color: var(--link-color);
  text-decoration: underline;
}

a:hover {
  color: var(--background-color);
  background-color: var(--base-color);
}

table {
  width: 50%;
}

table, th, td {
  border-collapse: collapse;
  border: 1px dashed var(--border-color);
}

/* Layout */

p {
  margin-bottom: 1rem;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
}

main {
  display: flex;
}

.left {
  width: 20%;
}

.right {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.menu {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 2rem 1rem 1rem 1rem;
  border-top: 1px dashed var(--border-color);
  border-bottom: 1px dashed var(--border-color);
}

.menu ul {
  margin: 1rem 0 1rem 0;
  list-style-type: none;
}

.menu li a {
  display: block;
  text-decoration: none;
  color: var(--text-color);
}

.menu li a:hover {
  text-decoration: none;
  color: var(--background-color);
  background-color: var(--base-color);
}

.content {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 1rem;
  margin: 2rem 1rem 2rem 1rem;
  border-top: 1px dashed var(--border-color);
  border-bottom: 1px dashed var(--border-color);
}

.content .title {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.content img {
  height: auto;
  margin: 0 auto;
  display: block;
  max-width: 100%;
}

.content h1::before {
  content: "# ";
}

.content h2::before {
  content: "## ";
}

.content h3::before {
  content: "### ";
}

.content .title .date {
  padding-top: 1rem;
}

.buttons {
  flex: none;
  margin: -1rem 1rem 1rem 1rem;
  padding: 0.2rem 0.5rem 0.8rem 0.5rem;
  border-bottom: 1px dashed var(--border-color);
}

.buttons a {
  text-decoration: none;
}

.buttons a:hover {
  color: var(--base-color);
  background-color: var(--background-color);
}

footer {
  flex: none;
  text-align: right;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 0 1rem 1rem 1rem;
}

footer p {
  font-size: 12px;
}

/* Lists */

:not(.menu) > ul {
  padding-left: 0;
  list-style: none;
  list-style-type: none;
}

:not(.menu) > ul > li:before {
  content: "-";
  margin-right: 5px;
}

/* Highlight */

::selection {
  color: var(--selection-text);
  background: var(--selection-background);
}

::-moz-selection {
  color: var(--selection-text);
  background: var(--selection-background);
}

/* Code */

pre {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: 1px dashed var(--border-color);
}

/* Media Rules */

@media only screen and (max-width: 1200px) {
  .container {
    width: 100%;
  }

  .left {
    width: 20%;
  }

  .right {
    width: 80%;
  }
}
