<!DOCTYPE html>
<html lang="en">

  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block css %}
      <link
        rel="stylesheet"
        href="{{ get_url(path='site.css', trailing_slash=false) | safe }}"
      >
    {% endblock css %}
    
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
 
  </head>

  <body>

    <header></header>

    <main class="container">

      <div class="left">
        {% block menu %}
        {% endblock menu %}
      </div>
      
      <div class="right">
        {% block content %}
        {% endblock content %}
        
        {% if config.extra.eclipse_button %}
          {% block buttons %}
          {% endblock buttons %}
        {% endif %}

        <footer>
          <p>
            Powered by <a href="https://getzola.com">Zola</a> with <a href="{{ config.base_url }}">Eclipse</a>
            </br>
            <i>This site is free of cookies and JavaScript</i>
          </p>
      </footer>

      </div>
      
    </main>

  </body>
</html>
